.loginWrapper {
  background: rgb(241 241 241);
  height: 100%;
  display: flex;
  justify-content: center;
}

.loginWrapper .formHolder {
  position: relative;
  width: 380px;
  /* height: 400px; */
  background: #ffffff;
  padding: 45px 50px;
  box-shadow: rgba(200, 200, 200, 0.63) 2px 2px 7px 2px;
  margin-top: 40px;
  border-radius: 15px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
